.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-grow: 1;
  position: fixed; /* Fix the main container position */
  top: 60px; /* Adjust to fit below the navbar height */
  left: 0;
  width: 100%; /* Full width */
  height: calc(100vh - 60px); /* Full height minus the navbar */
  /* overflow-y: auto;  */
  background-color: #e2e3e3;
}

.content {
  flex-grow: 1;
  margin-top:0px;
  padding: 20px;
  overflow-y: auto; /* Background color for content */
  min-height: calc(100vh - 60px); /* Ensure it takes the fll height minus navbar */
}
